config.json
venv
output/exe
output/installer/Output
output/NX Start Center
build
NX Start Center.spec
.idea
env.py
__pycache__
controller/__pycache__
view/__pycache__
model/__pycache__
nuitka-crash-report.xml
mom_information.out