data
venv
output
build
.idea
__pycache__
controller/__pycache__
view/__pycache__
env.py
model/__pycache__
nuitka-crash-report.xml
mom_information.out
dbc_information.out
src/mom_information.out
src/dbc_information.out
.vs
