sample/**
Sample/**
samples/**
Samples/**
cam-setup/**
CAM-setup/**
CAM_Setup/**
CAM_setup/**
cam_setup/**
**/__pycache__/

!sample/**/*.prt
!Sample/**/*.prt
!samples/**/*.prt
!Samples/**/*.prt
!cam-setup/**/*.prt
!CAM-setup/**/*.prt
!CAM_Setup/**/*.prt
!CAM_setup/**/*.prt
!cam_setup/**/*.prt
